.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    flex-direction: row;
    background-color: #cccccc;
    border-radius: 20px;
  }

  .button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-left: 70px;
    height: 30px;
    width: 20px;
    cursor: pointer;
    flex-direction: row;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }

  .img{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 220px;
    height: 200px;
    margin: 10px;
  }

  .about{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 100px;
  }

  .show{
    flex: 1;
    display: flex;
  }

