body {
  margin: 0;
  background-color: #383838;
  /* background-image: url("https://img.freepik.com/premium-photo/roasted-organic-shin-beef-meat_220507-7930.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:fit-content;  */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
